name: Deploy ASP.NET to Somee

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'   # sửa theo version dự án

      - name: Restore
        run: dotnet restore ./proMvcApi/proMvcApi.csproj

      - name: Build
        run: dotnet build ./proMvcApi/proMvcApi.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./proMvcApi/proMvcApi.csproj -c Release -o ./publish

      - name: FTP Deploy to Somee
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./publish
          server-dir: /
          protocol: ftp
